{% extends default_template %}

{% block content %}
<fieldset class="login">
	<h2>Passwort vergessen</h2>
    <div>Es wurde eine Email an {{email}} mit einem Link zum Zurücksetzen des Passworts gesendet. Bitte folge den Instruktionen in der Email, um das Passwort zurückzusetzen.</div>
</fieldset>
{% endblock %}