{% extends default_template %}

{% block content %}
<fieldset class="login">
	<h2>Passwort vergessen</h2>
    <div>Bitte gib die EMail-Adresse an, mit der Du Dich registriert hast.</div>

	{{ form(form)}}
</fieldset>
{% endblock %}